# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Chalice deploy artifacts
.chalice/deployments/
.chalice/deployed/
.chalice/venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.zip
